parameters:
    articles_images_directory: '%kernel.project_dir%/public/uploads/articles'
    user_images_directory: '%kernel.project_dir%/public/uploads/profile'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Controller\ProfileImageController:
        bind:
            $userImagesDirectory: '%user_images_directory%'
